<div class="container">
	<h2>User Settings</h2>
	<form>
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" name="name" class="form-control" placeholder="Name">
		</div>

		<div class="form-check form-group">
			<input class="form-check-input" type="checkbox" value="" id="specialOffer">
			<label class="form-check-label" for="specialOffer">
				Special offers
			</label>
		</div>

		<h5>User Inteface Style</h5>
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="intefaceStyle" id="lightinterface" value="light" checked>
				<label class="form-check-label" for="lightinterface">
					Light
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="intefaceStyle" id="mediuminterface" value="medium">
				<label class="form-check-label" for="mediuminterface">
					Medium
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="intefaceStyle" id="darkinterface" value="dark">
				<label class="form-check-label" for="darkinterface">
					Dark
				</label>
			</div>
		</div>

		<button class="btn btn-primary">Send</button>
	</form>
</div>